<form ngNativeValidate [formGroup]="forma" (ngSubmit)="addUserProfile()" class="form-horizontal form-material" id="loginform" action="index.html">
    <div class="form-group m-t-20">
        <div class="col-xs-12">
            <input formControlName="nombre" name="nombre" class="form-control" type="text" required placeholder="Nombre">
        </div>
    </div>
    <div *ngIf="user != 3" class="form-group">
        <div class="col-xs-12">
            <input  formControlName = "apellido" name="apellido" class="form-control" type="text" required placeholder="Apellido">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <input   formControlName = "dni" name="dni" class="form-control" type="text" required placeholder="Dni">
        </div>
    </div>
    <div *ngIf="user != 3" class="form-group">
        <div class="col-xs-12">
            <input   formControlName = "nacimiento" name="nacimiento" class="form-control" type="date" required placeholder="Nacimiento">
        </div>
    </div>
    <div *ngIf="user != 3" class="form-group">
    <div class="col-xs-12"> 
        <select  formControlName ="sexo" name="sexo" class="form-control" required>
            
            <option selected value = "1">Masculino</option>
            <option value = "2">Femenino</option>
        </select>
        </div>
    </div>
    <div class="form-group">
    <div class="col-xs-12">
        <input  formControlName="direccion" name="direccion" class="form-control" type="text" required placeholder="Direccion">
    </div>
    </div>
    <div class="form-group">
    <div class="col-xs-12">
        <input   formControlName ="telefono" name="telefono" class="form-control" type="text" required placeholder="Telefono">
    </div>
    </div>
    <div *ngIf="user != 1" class="form-group">
        <div class="col-xs-12">
            <input   formControlName ="matricula" name="matricula" class="form-control" type="text" required placeholder="Matricula">
        </div>
    </div>

    <div *ngIf="user != 1" class="form-group">
        <label class="form-control"> Elegir una especialidad</label><br>
        <select (change)="cambioEspecialidad($event.target.value)"   name="speciality" class="form-control" required>
            <option value="">Elegir </option>
            <option *ngFor= "let speciality of specialities" [value]="speciality.id">
            {{speciality.name}}
        </option>
        </select>
    </div>


    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" >Registrarme</button>
        </div>
    </div>
</form>