<div class="form-group m-t-20">
    <div class="col-xs-12">
        <input [(ngModel)]="userData.name" name="nombre" class="form-control" type="text" required placeholder="Nombre">
    </div>
</div>
<div *ngIf="user != 3" class="form-group">
    <div class="col-xs-12">
        <input  [(ngModel)]="userData.lastname" name="apellido" class="form-control" type="text" required placeholder="Apellido">
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12">
        <input  [(ngModel)]="userData.dni" name="dni" class="form-control" type="text" required placeholder="Dni">
    </div>
</div>
<div *ngIf="user != 3" class="form-group">
    <div class="col-xs-12">
        <input  [(ngModel)]="userData.born" name="nacimiento" class="form-control" type="text" required placeholder="Nacimiento">
    </div>
</div>
<div *ngIf="user != 3" class="form-group">
  <div class="col-xs-12">
      <input  [(ngModel)]="userData.gender" name="sexo" class="form-control" type="text" required placeholder="Sexo">
  </div>
</div>
<div class="form-group">
  <div class="col-xs-12">
      <input  [(ngModel)]="userData.address" name="direccion" class="form-control" type="text" required placeholder="Direccion">
  </div>
</div>
<div class="form-group">
  <div class="col-xs-12">
      <input  [(ngModel)]="userData.phone" name="telefono" class="form-control" type="text" required placeholder="Telefono">
  </div>
</div>

<div *ngIf="user != 1" class="form-group">
    <label class="form-control"> Elegir las especialidades</label><br>
    <span *ngFor="let specialitie of specialities_chosen" ><br>{{specialitie.name}}</span>
    <hr>
    <div class="col-xs-12" *ngFor="let specialitie of specialities">
        <input id="{{specialitie.id}}" class="btn btn-secondary"  (click)="specialitieChoosed(specialitie.id);" value="{{specialitie.name}}">
    </div>
  </div>


<div class="form-group text-center m-t-20">
    <div class="col-xs-12">
        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" (click)="addUserProfile()">Registrarme</button>
    </div>
</div>
