<!--  <div class="row" *ngIf="profile">
  <div class="col-md-4">
    <img class="profile" [src] = "profile.getImageUrl()">
  </div>

  <div class="col-md-8">
    <ul class="list-group">
    <h1 class="font-weight-light">{{profile.getName()}}</h1>
      <li class = "list-group-item"><strong class="font-weight-light">Apellido:</strong > {{profile.getFamilyName()}}</li>
      <li class = "list-group-item"><strong class="font-weight-light">Nombre:</strong > {{profile.getGivenName()}}</li> 
-->
      <!-- <li class = "list-group-item">Sexo: {{profile.getGender()}}</li> -->

      <!--
       <li class = "list-group-item"><strong class="font-weight-light">Mail:</strong > {{profile.getEmail()}}</li>

    </ul>
  </div>
<hr>
  <div class="col-md-13" style="    margin-left: 35%; margin-top: 5%;">
      <h1 class="font-weight-light">{{usertype(user.user.user_type_id)}}</h1>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <input type="text" aria-label="First name" class="form-control" value="{{user.patient.identification_number}}" readonly='false'>
          <span class="input-group-text">Id Paciente</span>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <input type="text" aria-label="First name" class="form-control" value="{{user.patient.first_name}}">
          <span class="input-group-text">Nombre</span>
        </div>
      </div>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <input type="text" aria-label="First name" class="form-control" value="{{user.patient.last_name}}">
          <span class="input-group-text">Apellido</span>
        </div>
      </div>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <input type="text" aria-label="First name" class="form-control" value="{{user.patient.phone}}">
          <span class="input-group-text">Contacto</span>
        </div>
      </div>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <input type="text" aria-label="First name" class="form-control" value="{{user.patient.birth_date}}">
          <span class="input-group-text">Fecha Nacimiento</span>
        </div>
      </div>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <input type="text" aria-label="First name" class="form-control" value="{{user.patient.address}}">
          <span class="input-group-text">Direccion</span>
        </div>
      </div>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <input type="text" aria-label="First name" class="form-control" value="{{user.patient.gender_id}}">
          <span class="input-group-text">Sexo</span>
        </div>
      </div>
      
      <button class="btn btn-primary">Editar perfil</button>
    </div>
  </div>


    <div *ngIf="!profile" >
      <div class="alert alert-warning" role="alert">
          Inicie sesion para ver sus datos
      </div>
    <img style="width:14%" src="https://img.icons8.com/dusk/128/000000/jake.png">
    </div>
  -->

<!-- 
   |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
   ||              Nuevo Profile                                    ||
   ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

  <div class="row animated fadeIn">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil del usuario</h4>
                <h6 class="card-subtitle">nombre usuario</h6>

                <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar( f.value)" class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre de usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="usuarioGoogle.fullName" name="nombre" type="text" class="form-control"  placeholder="Nombre de usuario" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo de usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="usuarioGoogle.email" [disabled]=true name="email" type="email" class="form-control"  placeholder="Correo de usuario" required>
                        </div>
                    </div>

  
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                      <i class="fa fa-save"></i> Guardar</button>
   
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body" align="center">
                <h4 class="card-title">Fotrografia del usuario</h4>
                <h6 class="card-subtitle">nombre usuario</h6>

                <img [src]="usuarioGoogle.image" class= "w150">
                
            

                <br><br>
            </div>
            </div>
    </div>
      
</div> 