<div class="row" *ngIf="profile">
  <div class="col-md-4">
    <img [src] = "profile.getImageUrl()" class="">
  </div>

  <div class="col-md-8">
    <ul class="list-group">
    <h1>{{profile.getName()}}</h1>
      <li class = "list-group-item"><strong>Apellido:</strong> {{profile.getFamilyName()}}</li>
      <li class = "list-group-item"><strong>Nombre:</strong> {{profile.getGivenName()}}</li>
      <!-- <li class = "list-group-item">Sexo: {{profile.getGender()}}</li> -->
      <li class = "list-group-item"><strong>Mail:</strong> {{profile.getEmail()}}</li>

    </ul>

  </div>
  </div>
