
 <html>
  <body>
      <!-- SE PERMITE VER LOS TURNOS CON ESTE COMPONENTE -->
    <!-- <app-appointments></app-appointments> -->
    <h1 class="font-weight-light" style="font-size:70px;">Bienvenido a Clínica Virtual</h1>
    <h1 class="font-weight-light" style="font-size:35px;">Hospital de Clínica San Martin</h1>
    <!-- <app-login></app-login> -->
    

    <button type="button" class="btn btn-danger begin" data-toggle="modal" data-target=".bd-example-modal-lg">Comenzar</button>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <app-register ></app-register>
      </div>
    </div>
  </div>
    
    <!-- <br><br>
    
<br>
    <div style="padding: 2%;background-image: url('https://static.videezy.com/system/resources/thumbnails/000/000/328/original/bokeh2.jpg');">
      <h1 class="font-weight-light" style="font-size:70px;">Sobre la aplicación</h1>
      <div style="padding:5%;background-image: url('https://www.losandes.com.ar/uploads/2015/09/image55ef95555423e5.66708838.jpg'); opacity: 0.9;background-size: cover;">
        <h1 class="font-weight-light" style="font-size:35px;">Tipos de usuario</h1>
      <table class="table">
        <thead>
            <th>Usuario</th>
            <th>Permisos</th>
            <th>Cuenta</th>
        </thead>
        <tbody>
          <tr>
            <td>Paciente</td>
            <td>Totales</td>
            <td>FREEE</td>
          </tr>
          <tr>
            <td>Doctor</td>
            <td>Totales</td>
            <td>FREE/PAGA</td>
          </tr>
          <tr>
            <td>Clinica</td>
            <td>Totales</td>
            <td>PAGA</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div> -->

  </body>
</html>