<!--

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Clinica Virtual</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['home']" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['turns']" routerLinkActive="active">Turns</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['protected']" routerLinkActive="active">Mi Perfil</a>
            </li>
             <li class="nav-item">
        <a class="nav-link" [routerLink]="['turns']" routerLinkActive = "active" *ngIf="auth.isAuthenticated()">Turns</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['protected']" routerLinkActive = "active" *ngIf="auth.isAuthenticated()">Mi Perfil</a>
      </li> 
        </ul>
        <span class="navbar-text">
      <button   (click)= "login()"
                *ngIf="!auth.isAuthenticated()"
                type="button"
                class= "btn btn-outline-primary"
                name="button">Ingresar</button>

      <button   (click)= "salir()"
                *ngIf="auth.isAuthenticated()"
                type="button"
                class= "btn btn-outline-primary"
                name="button">Salir</button>
    </span>
    </div>
</nav>

-->

<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3> Prueba SideBar </h3>
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>

        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class = "fas fa-align-left"></i>
                <span>Toglle Sidebar</span>
              </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-align-justify"></i>
              </button>
            </div>
        </nav>
    </div>
    ...
</div>