


<div class="contenedor" >
  <ng-container *ngIf="isLoading">
    <div class="buscarturno" style="background-color:white;">
          <select  class="form-control" [(ngModel)]="filtros.clinic_id" required>
          <option value="" disabled selected>Seleccione Clinica</option>
          <option [value]="option.id" *ngFor="let option of clinics">{{option.label}}</option>
          </select>
        
          <br><br>
          <select  class="form-control" [(ngModel)]="filtros.speciality_id" required>
          <option value="" disabled selected>Seleccione Especialidad</option>
          <option [value]="option.id" *ngFor="let option of specialities">{{option.label}}</option>
          </select>
        
        <br><br>
          <select  class="form-control" [(ngModel)]="filtros.hcp_id" required>
          <option value="" disabled selected>Seleccione medico</option>
          <option [value]="option.id" *ngFor="let option of hcps">{{option.label}}</option>
          </select>
        
        <br>
        <br>
          <label>Fecha desde</label> <label>Fecha hasta</label><br>
        <input type="date" class="form-control" [(ngModel)]="filtros.date_from"placeholder="Fecha Desde" required>
        
      
        <input type="date" class="form-control" [(ngModel)]="filtros.date_to"placeholder="Fecha Hasta" required>
        
      
        <br> <br>
        
        <hr>
        <div class="button">
            <button class="btn btn-success btn-lg" (click)="onClick()">Buscar Turno</button>

        </div>
        
      </div>
    </ng-container>
</div>

<app-loading [info]="loadingInfo" ></app-loading>

<div *ngIf="mostrarTurnos">
  <app-appointments [turnos]="turnos" *ngIf = "isLoading"></app-appointments>
</div>
