<!-- <html class="turno" >
    <div class="card-header"  style="background-color:white;">{{turno.appointment_date}}</div>
    <div class="card-body text-primary"  style="background-color:white;">
      <h5 class="card-title">{{turno.speciality_name}}</h5>
      <p class="card-text">Dr. {{turno.hcp_first_name +" " +turno.hcp_last_name}}</p>
    </div>
    <div style="background-color:white;"><hr>
        <button type="button" class="btn btn-outline-primary" (click)="open(content)">Detalle</button>
        <button type="button" class="btn btn-outline-secondary" (click)="deleteSwal.show()">Cancelar Turno</button>
   -->

 <!--              <td>
                {{turno.appointment_date}}
              </td>
              <td >
                {{turno.speciality_name}}
              </td>
              <td >
                Dr. {{turno.hcp_first_name +" " +turno.hcp_last_name}}
              </td>
              <td>
                <button (click)="open(content)" class="btn btn-primary">
                  <i class="fa fa-save"></i>
                </button>
                <button (click)="deleteSwal.show()" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
              </td> -->

  
               
                  <button (click)="open(content)" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                  </button>
                  <button (click)="deleteSwal.show()" class="btn btn-danger">
                      <i class="fa fa-trash-o"></i>
                    </button>
                

          

        <swal
          #deleteSwal
          title="¿Seguro que quiere cancelar su turno?"
          text="Se eliminara de su lista de turnos pendientes"
          type="warning"
          [showCancelButton]="true"
          [focusCancel]="true"
          (confirm)="confirmDelete.show()">
        </swal>

        <swal
          #confirmDelete
          title="Turno cancelado correctamente"
          type="success"
          >
        </swal>

    

  <ng-template #content let-c="close" let-d="dismiss">
    

    <div class="modal-body" >   <br>   
      <div class="card" style="width: 100%;">
            
            <ul class="list-group list-group-flush">
              
              <li class="list-group-item"><h1>{{turno.speciality_name}}</h1></li>
              <li class="list-group-item"><h4>Turno {{turno.id}}</h4></li>
              <li class="list-group-item"><h3>{{turno.clinic_name}}</h3></li>
              <li class="list-group-item"><h3>{{turno.appointment_date}}</h3></li>
              <li class="list-group-item"><h3>Dr. {{turno.hcp_first_name}} {{turno.hcp_last_name}} </h3></li>
               <li class="list-group-item">
                  <br> <span
                  style="margin-top: 3%;
                         border-radius: 25px;"
                  class="alert alert-warning">{{turno.appointment_status_name}}</span>
              </li>
            </ul>
          </div>

      <!-- <h2>{{turno.clinic_name}}</h2><br>
      <h3>{{turno.appointment_date}}</h3> <br>
      <h4>Dr. {{turno.hcp_first_name}} {{turno.hcp_last_name}} </h4> -->

    </div>
    <hr>
    <div class="modal-body" style="padding:2%;">
      <button type="button" class="btn btn-danger" (click)="deleteSwal.show()">Cancelar turno</button>
      <button type="button" class="btn btn-info" (click)="sheduleAppointmentSwal.show()">Pedir turno</button>
      <button type="button" class="btn btn-secondary" (click)="c('Save click')">Descripcion</button>
      <button type="button" class="btn btn-secondary" (click)="c('Save click')">Volver</button>
    </div>

    <swal
          #sheduleAppointmentSwal
          title="¿Esta seguro de solicitar un turno nuevo?"
          text="Se solicitará un nuevo turno en la fecha indicada"
          type="warning"
          [showCancelButton]="true"
          [focusCancel]="true"
          (confirm)="scheduleAppointment()">
        </swal>

        <swal
          #confirmSchedule
          title="Turno pedido correctamente"
          type="success"
          >
        </swal>
  </ng-template>
