    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/pepe.jpg);">
      
        <div class="login-box card" style="overflow: auto">

          <div class="card-body" style="text-align: center">
                <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png" alt="Home" /></a>
                <h1 class="box-title m-t-40 m-b-0" >Registrate como:</h1><hr>
                
                <div *ngIf="!userTypeSelected">
                    <div class="form-group text-center m-t-20" *ngFor="let type of usertype">
                        <div class="col-xs-12">
                            <button  class="btn btn-{{type.class}} btn-lg btn-block text-uppercase waves-effect waves-light" (click)="addUserType(type.id)">
                                {{type.name}}<img src="images/{{type.img}}.png" alt="" style="width:150px;height:150px;">
                            </button>
                        </div>
                    </div>
                </div>

              
                  <app-usertype-register *ngIf="userTypeSelected" [user]="userTypeSelected"></app-usertype-register>

                  <!-- <div class="form-group row">
                      <div class="col-md-12">
                          <div class="checkbox checkbox-primary p-t-0">
                              <input formControlName="condiciones" name="condiciones" id="checkbox-signup" type="checkbox">
                              <label for="checkbox-signup"> Estoy de acuerdo con los <a href="#">terminos</a></label>
                          </div>
                      </div>
                  </div>
                  <div class="form-group m-b-0">
                      <div class="col-sm-12 text-center">
                          <p>Tienes una cuenta? <a href="pages-login-2.html" class="text-info m-l-5"><b>Ingresa ahora</b></a></p>
                      </div>
                  </div> -->
                
          </div>
      </div>
  </section>